//- Все примеси в этом файле должны начинаться c имени блока (main-slider)

mixin main-slider(mods)

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-slider--' + modsList[i].trim();
      }
    }

  section.main-slider(class=allMods)&attributes(attributes)
    .main-slider__inner
      .main-slider__primary
        .glide.main-slider__primary-slider.primary-slider
          .glide__track.primary-slider__track(data-glide-el="track")
            ul.primary-slider__list.glide__slides
              +primary-slider-item({id: '1', num: '01', title: 'Зона Кроссфит, TRX, Twisterbag, RIP, Flowin, Bosu – все для полноценных функциональных тренировок', text: 'Для современного человека, живущего в мегаполисе, помимо ежедневной рутины и работы над собой, отдых является неотъемлемой частью жизни. Именно поэтому на территории нашего клуба мы разработали уникальную Recovery-зону и роскошный SPA-комплекс.', src: 'img/content/card-02.jpg'})
              +primary-slider-item({id: '2', num: '02',title: 'Зона Кроссфит, TRX, Twisterbag, RIP, Flowin, Bosu – все для полноценных функциональных тренировок', text: 'Для современного человека, живущего в мегаполисе, помимо ежедневной рутины и работы над собой, отдых является неотъемлемой частью жизни. Именно поэтому на территории нашего клуба мы разработали уникальную Recovery-зону и роскошный SPA-комплекс.', src: 'img/content/card-03.jpg'})
              +primary-slider-item({id: '3', num: '03',title: 'Зона Кроссфит, TRX, Twisterbag, RIP, Flowin, Bosu – все для полноценных функциональных тренировок', text: 'Для современного человека, живущего в мегаполисе, помимо ежедневной рутины и работы над собой, отдых является неотъемлемой частью жизни. Именно поэтому на территории нашего клуба мы разработали уникальную Recovery-зону и роскошный SPA-комплекс.', src: 'img/content/card-02.jpg'})
      .main-slider__second
        .glide.main-slider__second-slider.second-slider
          .glide__track.second-slider__track(data-glide-el="track")
            ul.second-slider__list.glide__slides
              +second-slider-item({id: '1', num: '01',title: 'title1', text: 'desc1', src: 'img/content/card-02.jpg'})
              +second-slider-item({id: '2', num: '02',title: 'title2', text: 'desc2', src: 'img/content/card-03.jpg'})
              +second-slider-item({id: '3', num: '03',title: 'title3', text: 'desc3', src: 'img/content/card-02.jpg'})
        +card('large', {price: '2 000 ₽'})(class="main-slider__card-link")
        .main-slider__arrows
          +btn('','arrow-left,slider-prev')(class="main-slider__prev")
          +btn('','arrow-right,slider-next')(class="main-slider__next")


mixin primary-slider-item(props)
  li.primary-slider__item.glide__slide(data-index= props.id)
    .primary-slider__item-inner
      .primary-slider__desc
        .primary-slider__item-title !{props.title}
        .primary-slider__number !{props.num}
        .primary-slider__item-text !{props.text}
      .primary-slider__img
        img(src= props.src)


mixin second-slider-item(props)
  li.second-slider__item.glide__slide(data-index= props.id)
    .second-slider__item-inner
      .second-slider__img
        img(src= props.src)
      .second-slider__number
        svg(width="300" height="220")
          text(fill="white" fill-opacity="0" x="150" y="180" text-anchor="middle" stroke="#fff") !{props.num}
